{% extends 'escola/base.html' %}

{% block content %}

<h1>Alunos</h1>
<a name="" id="" class="btn btn-primary" href="{% url 'novo-aluno' %}" role="button">Novo</a><br>
<table class="table"><br>
    <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>Matrícula</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>


{% for aluno in aluno_list %}
        <tr>
            <td scope="row"><a href="{% url 'detalhe-aluno' aluno.id %}">{{ aluno.nome }}</a></td>
            <td>{{ aluno.matricula }}</td>
            <td><a name="" id="" class="btn btn-primary" href="{% url 'alterar-aluno' aluno.id %}" role="button">Alterar</a>
            <a name="" id="" class="btn btn-danger" href="{% url 'excluir-aluno' aluno.id %}" role="button">Excluir</a></td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock content %}


