{% extends 'escola/base.html' %}

{% block content %}

<h1>Disciplinas</h1>
<a name="" id="" class="btn btn-primary" href="{% url 'nova-disciplina' %}" role="button">Nova</a><br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>Curso</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>


{% for disciplina in disciplina_list %}
        <tr>
            <td scope="row">{{ disciplina.nome }}</td>
            <td>{{ disciplina.curso }}</td>
            <td><a name="" id="" class="btn btn-primary" href="{% url 'alterar-disciplina' disciplina.id %}" role="button">Alterar</a>
            <a name="" id="" class="btn btn-danger" href="{% url 'excluir-disciplina' disciplina.id %}" role="button">Excluir</a></td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock content %}


