{% extends 'escola/base.html' %}

{% block content %}

<h1>Professores</h1>

<a name="" id="" class="btn btn-primary" href="{% url 'novo-professor' %}" role="button">Novo</a><br><br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>


{% for professor in professor_list %}
        <tr>
            <td scope="row"><a href="{% url 'detalhe-professor' professor.id %}">{{ professor.nome }}</a></td>
            <td>{{ professor.email }}</td>
            <td><a name="" id="" class="btn btn-primary" href="{% url 'alterar-professor' professor.id %}" role="button">Alterar</a>
            <a name="" id="" class="btn btn-danger" href="{% url 'excluir-professor' professor.id %}" role="button">Excluir</a></td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock content %}


